@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
  overflow-x: hidden;
  max-width: 100%;
}

/* Grid layout adjustments */
.grid {
  width: calc(100% + 2px);
  margin-left: -1px;
}

.grid > div {
  width: 100%;
  height: 100%;
}

/* Remove default button styles */
button {
  @apply font-normal;
  letter-spacing: 0.5px;
}

/* Smooth image loading */
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @apply transition-opacity duration-300;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
